
/* Your CSS Code here. */
*{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}



#tb1{
    width: 400px;
    height: 200px;
    font-size: 25px;
}

#tb2{
    width: 400px;
    height: 200px;
    font-size: 25px;
}

#tb3{
    width: 400px;
    height: 200px;
}

#tb4{
    width: 400px;
    height: 200px;
    font-size: 25px;
}

#spd{
    color: blue;
    text-decoration: underline;
}